<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.np.block">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--环信-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        android:name=".NpBlockApplication">
        <!--要继续使用 Apache HTTP 客户端，以 Android 9 及更高版本为目标的应用
        可以向其 AndroidManifest.xml的application节点下 添加以下内容：-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <!-- 基类activity注册 -->
        <activity android:name="com.np.block.base.BaseActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 首页欢迎界面activity注册 -->
        <activity android:name="com.np.block.activity.WelcomeActivity"
            android:screenOrientation="sensorLandscape">

        </activity>
        <!-- 游戏更新界面activity注册 -->
        <activity android:name=".activity.GameUpdateActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 登陆界面activity注册 -->
        <activity android:name="com.np.block.activity.LoginActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 主界面activity注册 -->
        <activity android:name="com.np.block.activity.MainActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 经典模式activity注册 -->
        <activity android:name=".activity.ClassicBlockActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 测试activity注册 -->
        <activity android:name=".activity.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 输入名字界面activity注册 -->
        <activity android:name=".activity.InputNameActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 闯关界面activity注册 -->
        <activity android:name=".activity.RushBlockActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 腾讯 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101825468" />
            </intent-filter>
        </activity>
        <!-- 腾讯 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1128190927148345#npblock" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>