<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.np.block">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <!--要继续使用 Apache HTTP 客户端，以 Android 9 及更高版本为目标的应用
        可以向其 AndroidManifest.xml的application节点下 添加以下内容：-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <!-- 基类activity注册 -->
        <activity android:name="com.np.block.base.BaseActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 首页欢迎界面activity注册 -->
        <activity android:name="com.np.block.activity.WelcomeActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 游戏更新界面activity注册 -->
        <activity android:name=".activity.GameUpdateActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 登陆界面activity注册 -->
        <activity android:name="com.np.block.activity.LoginActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 主界面activity注册 -->
        <activity android:name="com.np.block.activity.MainActivity"
            android:screenOrientation="sensorLandscape"/>
        <!-- 腾讯 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101825468" />
            </intent-filter>
        </activity>
        <!-- 腾讯 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>